<h1><%= @content.title %></h1>
<p><%= @content.description %></p>
<p>Category: <%= @content.category %></p>

<%= button_to 'Like', like_content_path(@content), method: :post %>

<%= link_to 'Back to All Content', contents_path %>