<!DOCTYPE html>
<html>
<head>
  <title>Content Recommendation Engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <header>
    <h1>Content Recommendation Engine</h1>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Recommendations", recommendations_path %>
      <%= link_to "All Content", contents_path %>
      <% if user_signed_in? %>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </nav>

    <%= form_with url: search_index_path, method: :get, local: true do |f| %>
      <%= f.text_field :q, placeholder: "Search..." %>
      <%= f.submit "Search" %>
    <% end %>
  </header>

  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>">
      <%= message %>
    </div>
  <% end %>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>&copy; <%= Time.current.year %> Content Recommendation Engine</p>
  </footer>
</body>
</html>